
body {

	background-color: #c6ecc6;
}

.btn {
	padding-top: 7px;
	padding-bottom: 7px;


}

.container {
	max-width: 100%;
	padding-top: 30px;
	padding-left: 300px;



}

/*Code Reviewed by AP and SS.*/